{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
{% endblock %}

{% block style %}
{% parent %}
<style>
.body-container .container-fluid {
  margin-left: 20px;
  margin-right: 20px;
}
.section-block {
  margin-bottom: 25px;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-muted">VueBlock - Where vue components meet</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
{% endblock %}
