{% extends '../layout/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-muted">Test Page</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
      Excepteur sint occaecat cupidatat quis nostrud ullamcoconsectetur
      adipiscing elit, sed do eiusmod non proident, suntfugiat nulla patur.
      laboris nisi ut aliquip ex ea commodo sequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse.
      </p>
    </div>
  </div>
</div>
{% endblock %}
